<div class="ltabs-wrap product_tabs_slider">
	<div class="ltabs-tabs-container">
		<div class="ltabs-tabs-wrap">
			<!--Begin Tabs-->
			{% comment %}
			<ul class="tabs ltabs-tabs ">
				<!--Tabs 1-->
				{% if settings.use_1_products  and settings.featured_collection != "" %}
				<li class="ltabs-tab active" rel="tab_collection_1">
					<span class="ltabs-tab-label">
						{%if settings.1_products_title == ''%}
						{{collections[settings.1_collection].title}}
						{%else%}
						{{ settings.1_products_title }}
						{% endif %}
					</span>
				</li> 
				{% endif %}
				<!--Tabs 2-->
				{% if settings.use_2_products  and settings.featured_collection != "" %}
				<li class="ltabs-tab" rel="tab_collection_2">
					<span class="ltabs-tab-label">
						{% if settings.2_products_title == ''%}
						{{collections[settings.2_collection].title}}
						{% else %}
						{{ settings.2_products_title }}
						{% endif %}
					</span>
				</li>
				{% endif %}
				<!--Tabs 3-->
				{% if settings.use_3_products  and settings.featured_collection != "" %}
				<li class="ltabs-tab" rel="tab_collection_3">
					<span class="ltabs-tab-label">
						{% if settings.3_products_title == ''%}
						{{collections[settings.3_collection].title}}
						{% else %}
						{{ settings.3_products_title }}
						{% endif %}
					</span>
				</li>
				{% endif %}
				<!--Tabs 4-->
				{% if settings.use_4_products  and settings.featured_collection != "" %}
				<li class="ltabs-tab" rel="tab_collection_4">
					<span class="ltabs-tab-label">
						{% if settings.3_products_title == ''%}
						{{collections[settings.3_collection].title}}
						{% else %}
						{{ settings.4_products_title }}
						{% endif %}
					</span>
				</li>
				{% endif %}
			</ul>

			<div class="navi navi_collection_1 tab_collection_1">
				<a class="prevtab"></a>
				<a class="nexttab"></a>
			</div>
			<div class="navi navi_collection_2 tab_collection_2">
				<a class="prevtab"></a>
				<a class="nexttab"></a>
			</div>	
			<div class="navi navi_collection_3 tab_collection_3">
				<a class="prevtab"></a>
				<a class="nexttab"></a>
			</div>
			<div class="navi navi_collection_4 tab_collection_4">
				<a class="prevtab"></a>
				<a class="nexttab"></a>
			</div>
			{% endcomment %}
			<!--End Tabs-->
		</div>
		<div class="tab_container ltabs-items-container row show-slider">
			<!-- Tabs 1 -->
			<div class="ltabs-items tab_content content-product-list">
				{%if collections[settings.1_collection].products.size > 0%}
				<div class="ltabs-items-inner clearfix" id="tab_collection_1_in">
					{%assign collection = collections[settings.1_collection]%}
					{% for product in collections[settings.1_collection].products limit: 8 %}
					{% include 'product-tab' %}
					{% endfor %}
				</div>
				{%else%}
				<a class="link-setting" href="/admin/theme#/list">Chưa có sản phẩm nào để hiển thị. Vui lòng vào trang quản trị, và cấu hình cho mục này</a>
				{%endif%}
				
				{% if collections[settings.1_collection].products.size > 8 %}
				<div class="clearfix text-center">
					<a href="{{ collections[settings.1_collection].url }}" class="btn-more">Xem thêm</a>
				</div>
				{% endif %}
			</div>
			<!-- End Tabs 1 -->

			{% comment %}
			<!-- Tabs 2 -->
			{% if settings.use_2_products %}
			<div class="ltabs-items tab_content content-product-list" id="tab_collection_2">
				{%if collections[settings.2_collection].products.size > 0%}				
				<div class="ltabs-items-inner" id="tab_collection_2_in">
					{%assign collection = collections[settings.2_collection]%}
					{% for product in collections[settings.2_collection].products %}
					{% include 'product-tab' %}	
					{% endfor %}
				</div>
				{%else%}
				<a class="link-setting" href="/admin/theme#/list">Chưa có sản phẩm nào để hiển thị. Vui lòng vào trang quản trị, và cấu hình cho mục này</a>
				{%endif%}
			</div>
			{% endif %}
			<script>
			jQuery(document).ready(function($){
				var posTabProduct = $("#tab_collection_2_in");
				posTabProduct.owlCarousel({
					items : 3,
					itemsDesktop : [1199,3],
					itemsDesktopSmall : [991,2], 
					itemsTablet: [767,2], 
					itemsMobile : [480,1],
					autoPlay :  false,
					stopOnHover: false,
					addClassActive: true,
				});
				$(".navi_collection_2 .nexttab").click(function(){
					posTabProduct.trigger('owl.next');})
				$(".navi_collection_2 .prevtab").click(function(){
					posTabProduct.trigger('owl.prev');})
			});
			</script>
			<!-- End Tabs 2 -->
			<!-- Tabs 3 -->
			{% if settings.use_3_products %}
			<div class="ltabs-items tab_content content-product-list" id="tab_collection_3">
				{%if collections[settings.3_collection].products.size > 0%}						
				<div class="ltabs-items-inner" id="tab_collection_3_in">
					{%assign collection = collections[settings.3_collection]%}
					{% for product in collections[settings.3_collection].products %}
					{% include 'product-tab' %}
					{% endfor %}
				</div>
				{%else%}
				<a class="link-setting" href="/admin/theme#/list">Chưa có sản phẩm nào để hiển thị. Vui lòng vào trang quản trị, và cấu hình cho mục này</a>
				{%endif%}
			</div>
			{% endif %}
			<script>
			jQuery(document).ready(function($){
				var posTabProduct = $("#tab_collection_3_in");
				posTabProduct.owlCarousel({
					items : 3,
					itemsDesktop : [1199,3],
					itemsDesktopSmall : [991,2], 
					itemsTablet: [767,2], 
					itemsMobile : [480,1],
					autoPlay :  false,
					stopOnHover: false,
					addClassActive: true,
				});
				$(".navi_collection_3 .nexttab").click(function(){
					posTabProduct.trigger('owl.next');})
				$(".navi_collection_3 .prevtab").click(function(){
					posTabProduct.trigger('owl.prev');})
			});
			</script>
			<!-- End Tabs 3 -->
			<!-- Tabs 4 -->
			{% if settings.use_4_products %}
			<div class="ltabs-items tab_content content-product-list" id="tab_collection_4">
				{%if collections[settings.4_collection].products.size > 0%}						
				<div class="ltabs-items-inner" id="tab_collection_4_in">
					{%assign collection = collections[settings.4_collection]%}
					{% for product in collections[settings.4_collection].products  %}
					{% include 'product-tab' %}
					{% endfor %}
				</div>
				{%else%}
				<a class="link-setting" href="/admin/theme#/list">Chưa có sản phẩm nào để hiển thị. Vui lòng vào trang quản trị, và cấu hình cho mục này</a>
				{%endif%}
			</div>
			{% endif %}
			<script>
			jQuery(document).ready(function($){
				var posTabProduct = $("#tab_collection_4_in");
				posTabProduct.owlCarousel({
					items : 3,
					itemsDesktop : [1199,3],
					itemsDesktopSmall : [991,2], 
					itemsTablet: [767,2], 
					itemsMobile : [480,1],
					autoPlay :  false,
					stopOnHover: false,
					addClassActive: true,
				});
				$(".navi_collection_4 .nexttab").click(function(){
					posTabProduct.trigger('owl.next');})
				$(".navi_collection_4 .prevtab").click(function(){
					posTabProduct.trigger('owl.prev');})
			});
			</script>
			<!-- End Tabs 4 -->
			{% endcomment %}
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($){
	$(".product_tabs_slider .tab_content").hide();
	$(".product_tabs_slider .navi").hide();
	$(".product_tabs_slider .tab_content:first").show(); 
	$(".product_tabs_slider .navi:first").show(); 
	$(".product_tabs_slider ul.tabs li").click(function() {
	$(".product_tabs_slider ul.tabs li").removeClass("active");
	$(this).addClass("active");
	$(".product_tabs_slider .tab_content").hide();
	$(".product_tabs_slider .navi").hide();
	var activeTab = $(this).attr("rel"); 
	$(".product_tabs_slider #"+activeTab).fadeIn(); 
	$(".product_tabs_slider ."+activeTab).fadeIn(); 
	});
	});
</script>