<div id="pagination" class="">

  {% if paginate.pages > 1 %}

  
  
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pagination">
		{% if paginate.previous %}
		<a class="prev_1 fa fa-angle-left" href="{{ paginate.previous.url }}"></a>
		{% endif %}
    {%if paginate.current_page > 4%}
    {% assign firstpage = paginate.previous.url  | split: '=' %}
    <a class="page-node active current" href="{{ firstpage.first |append: '=1'  }}">
      <span>1</span>
    </a>
    <span class="page-node ">…</span>
    {%endif%}
    {%for part in paginate.parts%}
    {%if part.is_link%}
    <a class="page-node" href="{{part.url}}"><span>{{part.title}}</span></a>
		{%else%}
		<span class="page-node {%if part.title == paginate.current_page%}current{%endif%}">{{part.title}}</span>
		{%endif%}
		{%endfor%}
		{% if paginate.next %}
		<a class="next_1 fa fa-angle-right" href="{{ paginate.next.url }}"></a>
		{% endif %}
	</div>
  {% endif %}

</div>





