
{% if settings.product_grid_layout == '4-col' %}
{% assign grid_item_width = '3' %}
{% elsif settings.product_grid_layout == '3-col' %}
{% assign grid_item_width = '4' %}
{% else %}
{% assign grid_item_width = '6' %}
{% endif %}


{% unless grid_item_width %}
{% assign grid_item_width = '4' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.available and product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}

<li class="product-resize ajax_block_product col-xs-12 col-sm-6 col-md-4">
	<div class="product-container">
		<div class="left-block_collection">
			<a href="{{ product.url }}" title="{{ product.title }}" class="image-resize product_image">
				<span class="hover-image">
					{% if product.images.size > 1 %}  
					<img class="replace-2x img-responsive" src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"  />
					{% endif %}
				</span>
				<img class="replace-2x" src="{%if product.images.size > 0%}{{ product.featured_image.src | product_img_url: 'large' }}{%else%}//hstatic.net/0/0/global/design/theme-default/no-image.png{%endif%}" alt="{{ product.featured_image.alt | escape }}" />
			</a>
			{% if product.compare_at_price > product.price %}
			<span class="sale">Sale!</span>
			{% endif %}
			{%if product.tags.size > 0%}   
			{% for tag in product.tags %}
			{% if tag contains 'type' %}
			{% capture cut_type %}
			{{ tag | split : 'type:' }}
			{% endcapture %}
			<span class="new">{{cut_type}}</span>
			{% endif %}
			{% endfor %}
			{% endif %}
			<div class="button-container fly_3 clearfix">
				<a class="quick-view mask hidde-quick-list" data-handle="{{product.url}}" href="javascript:void(0);" rel="">
					<span class="wrap_bg">
						<i class="icon-eye-open icon-0x icon-mar-lr2"></i>
						<span class="wrap_text">Xem nhanh</span>
					</span>
				</a>
				<a class="button hidde-ajax_add_to_cart  ajax_add_to_cart ajax_add_to_cart_button btn btn-default {%unless product.available%}disabled{%endunless%}" data-variant="{{ product.variants.first.id }}" href="{{product.url}}">
					<span class="wrap_bg">
						<i class="icon-shopping-cart icon-0x icon-mar-lr2"></i>
						<span class="wrap_text">{% if sold_out %} Hết hàng {% else %} Giỏ hàng {% endif %}</span>
					</span>
				</a>
				<a class="quick-view_list" data-handle="{{product.url}}" href="javascript:void(0);" style="display:none;">
					<span class="wrap_bg">
						<i class="icon-eye-open icon-0x icon-mar-lr2"></i>
						<span class="wrap_text">Xem nhanh</span>
					</span>
				</a>
			</div>
		</div>
		<div class="right-block_collection">
			<div class="pr-0 product-contents">
				<h5 class="s_title_block">
					<a href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a>
				</h5>
				<div class="pr-rt">
					<div class="content_price">
						<span class="price product-price"> {{ product.price | money }} </span>
						{% if on_sale %}
						<span class="old-price product-price"> {{ product.compare_at_price | money}} </span>
						{% endif %}
					</div>
					<p class="product-desc" style="display:none;">
						{% if product.description != nil %}
						{{ product.description | strip_html | truncatewords : 30 }}
						{% else %}
						{{ product.content | strip_html | truncatewords : 30 }}
						{% endif %}
						<a class="learn-more-collection" href="{{ product.url }}" itemprop="url">Xem chi tiết</a>
					</p>
					<div class="button-container ">
						<a class="exclusive ajax_add_to_cart_button add_cart  {%unless product.available%}disabled{%endunless%}" style="display:none;" data-variant="{{ product.variants.first.id }}" href="javascript:void(0);" rel="nofollow">
							<span class="wrap_bg">
								<i class="icon-shopping-cart icon-0x icon-mar-lr2"></i>
								<span class="wrap_text">{% if sold_out %} Hết hàng {% else %} Thêm vào giỏ hàng {% endif %}</span>
							</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</li>