{% capture excerpt %}
  {% if article.excerpt == blank %}
    {{ article.content | strip_html | truncatewords: 30 }}
  {% else %}
    {{ article.excerpt }}
  {% endif %}
{% endcapture %}
{% capture relateds %}
	{% assign old = article %}
	{% for article in blogs.all.articles limit:16 %}
    {% include 'get-img-blog' %}{
    "id": {{ article.id }},
    "title": {{ article.title | json }},
    "url": {{ article.url | json }},
    "created": {{ article.created_at | date: '%d/%m/%Y' | json }},
    "image": {{ imageUrl | json }},
    "excerpt": {{ article.content | strip_html | truncatewords: 20 | json }}
    }
    {% unless forloop.last %},{% endunless %}
  {% endfor %}
	{% assign article = old %}
{% endcapture %}
{% capture comments %}[
  {% if blog.comments_enabled? %}
    {% for comment in article.comments %}{
      "author": {{ comment.author | json }},
      "created": {{ comment.created_at | date: '%d/%m/%Y' | json }},
      "content": {{ comment.content | json }}
      }{% unless forloop.last %},{% endunless %}{% endfor %}
  {% endif %}
  ]{% endcapture %}
<div id="app"></div>
<script>
  var article = {
    id: {{ article.id }},
    title: {{ article.title | json }},
    author: {{ article.author | json }},
    created: {{ article.published_at | date: '%d/%m/%Y %H:%M:%S' | json }},
    excerpt: {{ excerpt | json }},
    content: {{ article.content | json }},
    relateds: [{{ relateds }}],
    comments: {
      enabled: {{ blog.comments_enabled }},
      moderated: {{ blog.moderated }},
      list: {{ comments }}
    }
  };
</script>
<div style="display:none">
  {% form 'new_comment', article %}
    {% if form.posted_successfully? %}
      <!--article-message:ok-->
    {% endif %}{% if form.errors %}
    <!--article-message:error-->
    {{ form.errors | default_errors }}
  {% endif %}
  {% endform %}
</div>
{% comment %}
{% endcomment %}
