<div class="container">
	<div class="row">
		<div id="layout-page" class="cart center_column col-xs-12 col-sm-12 col-lg-12 col-md-12">
			<h1 id="cart_title" class="page-heading">Giỏ hàng</h1>
			{% if cart.item_count == 0 %}
			<p class="text-center">
				Không có sản phẩm nào trong giỏ hàng!</p>
			<p class="text-center"><a href="/collections/all">
				<i class="fa fa-reply"></i> Tiếp tục mua hàng</a>
			</p>
			<!-- End empty cart -->
			<!-- Begin cart -->
			{% else %}
			<form action="/cart" method="post" id="cartformpage">
				<div id="order-detail-content" class="table_block table-responsive">
					<table id="cart_summary" class="table table-bordered stock-management-on">
						<thead>
							<tr>
								<th class="cart_product first_item">Hình</th>
								<th class="cart_description item">Tên sản phẩm</th>
								<th class="cart_unit item">Giá</th>
								<th class="cart_quantity item">Số lượng</th>
								<th class="cart_total item">Tổng tiền</th>
								<th class="cart_delete last_item">&nbsp;</th>
							</tr>
						</thead>

						<tbody>
							{% for item in cart.items %}
							<tr class="list-carts cart_item last_item first_item address_0 odd">
								<td class="cart_product">
									<a href="{{ item.url }}">
										<img src="{{ item | img_url: 'small' }}" alt="" width="70" height="93">
									</a>
								</td>
								<td class="cart_description">
									<p class="product-name">
										<a href="{{ item.url }}">{{ item.product.title }}</a>
									</p>
								</td>
								<td class="cart_unit" data-title="Giá">									
									<span class="price">{{ item.price | money }}</span>

								</td>
								<td class="price hidden" id="price_{{ item.id }}">{{ item.price | money}}</td>
								<td class="cart_quantity text-center">
									<input type="hidden" value="5" name="quantity_23_70_0_0_hidden">
									<input type="number" class="cart_quantity_input form-control grey" size="4" name="updates[]" min="1" id="updates_{{ item.id }}" value="{{ item.quantity }}" onfocus="this.select();" class="tc item-quantity" />
								</td>
								<td class="cart_total" data-title="Tổng tiền">
									<span class="price" id="line_price_{{ item.id }}">{{ item.line_price | money }}</span>
								</td>
								<td class="cart_delete text-center" data-title="Xóa">
									<div>
										<a rel="nofollow" title="Delete" data-id="{{ item.variant.id }}" class="click-delete cart_quantity_delete"  href="javascript:void(0);">
											<i class="icon-trash"></i>
										</a>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>

						<tfoot>
							<tr class="cart_total_price">
								<td colspan="5" class="total_price_container text-center">
									<span>Tổng tiền</span>
								</td>
								<td colspan="2" class="price">
									<span class="total" id="total">
										<strong>{{ cart.total_price | money }}</strong>
									</span>
								</td>

							</tr>
						</tfoot>
					</table>
				</div>
				<p class="buttons cart_navigation clearfix">
					<button type="submit" id="checkout" class="button-default" name="checkout" value="" >Thanh toán</button>
					<button type="submit" id="update-cart" class="button-default" name="update"  value="" >Cập nhật</button>
				</p>
				<div class="inner-left inner-right">
					<div class="checkout-buttons clearfix">
						<label for="note">Ghi chú </label><br>
						<textarea id="note" name="note" rows="8" cols="40">{{ cart.note }}</textarea>
					</div>
				</div>
				{% if additional_checkout_buttons %}
				<div class="row">
					<div class="extra-checkout-buttons span6">
						{{ content_for_additional_checkout_buttons }}
					</div>
				</div>
				{% endif %}
			</form>

			{% endif %}
		</div>
	</div>
	<!-- End cart -->
</div>
<script>
$(document).ready(function(){
	$('.click-delete').click(function(){
		var variant_id = $(this).attr('data-id');
		var index_cart = $(this).parents('.list-carts').index();
		console.log(index_cart);
		$('#view-cart > .item-cart').eq(index_cart).remove();
		var params = {
			type: 'POST',
			url: '/cart/change.js',
			data: 'quantity=0&id=' + variant_id,
			dataType: 'json',
			success: function(cart) {
				if ( cart.item_count > 0 ) {
					$('#total-carts strong').html(Haravan.formatMoney(cart.total_price, "{{ shop.money_format }}"));
					$('.cart_block_total').html(Haravan.formatMoney(cart.total_price, "{{ shop.money_format }}"));
					$('.ajax_cart_quantity').html(cart.item_count);			
				} else {
					$('.ajax_cart_quantity').html(cart.item_count);
					$('#cartformpage').remove();
					$('#layout-page').append("<p class='text-center'>Không có sản phẩm nào trong giỏ hàng!</p><p class='text-center'><a href='/collections/all'><i class='fa fa-reply'></i> Tiếp tục mua hàng</a></p>");
					$('#view-cart').html("<div style='padding:0 20px;'> <p style='margin:0' class='text-center'>Giỏ hàng của bạn đang trống</p><p class='text-center'><a href='{{shop.url}}'>Tiếp tục mua hàng</a></p></div>");
				}
			},
			error: function(XMLHttpRequest, textStatus) {
				Haravan.onError(XMLHttpRequest, textStatus);
			}
		};
		jQuery.ajax(params);
		$(this).parents('.list-carts').remove();
	});
});
</script>
<script>
var arrays = {};
window.onload = function () {
	var inputs = document.getElementsByTagName('input');
	for (var i = 0; i < inputs.length; i++) {
		var input_id,quantity;
		if (inputs[i].id.indexOf('updates_') != -1) {
			input_id = inputs[i].id.replace('updates_','');//lấy id của input
			arrays[input_id] = document.getElementById('price_' + input_id).innerHTML.replace(/₫|,/g,'');
			inputs[i].onchange = function () {
				input_id = this.id.replace('updates_','');//lấy id của input
				var price = document.getElementById('price_' + input_id).innerHTML.replace(/₫|,/g,'');
				var line_total_price = 0;
				quantity = document.getElementById('updates_' + input_id).value;
				if(quantity != ""){
					line_total_price += parseInt(quantity)*price;
				}
				line_total_price = line_total_price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
				document.getElementById('line_price_'+input_id).innerHTML = line_total_price + "₫";

				//tổng tiền
				var total = 0;
				for(var array in arrays){
					quantity = document.getElementById('updates_' + array).value;
					if(quantity != ""){
						total += parseInt(quantity)*arrays[array];
					}
				}
				total = total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
				document.getElementById('total').innerHTML = total + "₫";
			}
		}
	}
}
</script>



